.btn {
    background-color: rgb(255, 255, 255);
    color: white;
    font: 20px impact;
    border-radius: 15px;
    border: solid black 1px;
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgb(27, 27, 27);

    }

    .center{
        padding: 30px 0px;
    }

.btn:hover {
    background-color: rgb(151, 206, 164);
    color: white;

      }

.calculator{
    width:400px;
    height:600px;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr repeat(6, 2fr) 1fr;
    border:solid black 2px;
    grid-gap: 6px;
    background-color:#fea49f;
    Padding-top: 20px; 
    border-radius:15px;
    
    }

.screen{
    grid-column:2/6;
    grid-row:1/3; 
    border:solid black 2px;  
    box-shadow: inset  0px 0px 5px 0px black;

    }

.clear{
    grid-column:2/4;
    grid-row:3/4;
    background-color: #fbaf08;
    }

.del{
    grid-column:4/5;
    grid-row:3/4;
    background-color: #fbaf08;
    }      

.divide{
    grid-column:5/6;
    grid-row: 3/4;

    }

.seven{
    grid-column:2/3;
    grid-row:4/5;
    
    }

 .eight{
    grid-column:3/4;
    grid-row:4/5;

    }

.nine{
    grid-column:4/5;
    grid-row:4/5;
    
    }
 
    .mult{
    grid-column:5/6;
    grid-row:4/5;

    }    

.four {
    grid-column:2/3;
    grid-row:5/6;
    
    }

.five {
    grid-column:3/4;
    grid-row:5/6;
    
    }
        
.six{
    grid-column:4/5;
    grid-row:5/6;
    
    }

.minus{
    grid-column:5/6;
    grid-row:5/6;
   
    }

.one{
    grid-column:2/3;
    grid-row:6/7;

    } 

.two{
    grid-column:3/4;
    grid-row:6/7;

    } 

 .three{
    grid-column:4/5;
    grid-row:6/7;

    } 

.plus{
    grid-column:5/6;
    grid-row:6/7;

    } 

.zero{
    grid-column:2/4;
    grid-row:7/8;

    } 

.period{
    grid-column:4/5;
    grid-row:7/8 ;

}
.equal{
    grid-column:5/6;
    grid-row:7/8;
    background-color: #fbaf08;

        }

.operator{
    background-color:#949393;
    color:white;
    
}

.num{
    background-color:#10134e;
    color:white;

}

